# Default configuration file for SWarp 2.17.6
# EB 2013-12-05
#
#----------------------------------- Output -----------------------------------
IMAGEOUT_NAME        OUTNAME.fits      # Output filename
WEIGHTOUT_NAME       OUTNAME.weight.fits # Output weight-map filename
 
HEADER_ONLY            N               # Only a header as an output file (Y/N)?
HEADER_SUFFIX          .head           # Filename extension for additional headers
 
#------------------------------- Input Weights --------------------------------
 
WEIGHT_TYPE            MAP_WEIGHT            # BACKGROUND,MAP_RMS,MAP_VARIANCE
                                       # or MAP_WEIGHT
WEIGHT_IMAGE          @WEIGHT_NAMES                 # Weightmap filename if suffix not used
                                       # (all or for each weight-map)
RESCALE_WEIGHTS        N               # Rescale input weights/variances (Y/N)?
WEIGHT_THRESH          0.0               # Bad pixel weight-threshold

#------------------------------- Co-addition ----------------------------------
 
COMBINE                Y               # Combine resampled images (Y/N)?
COMBINE_TYPE           WEIGHTED          # MEDIAN,AVERAGE,MIN,MAX,WEIGHTED,CHI2
                                       # or SUM
 
#-------------------------------- Astrometry ----------------------------------
 
CELESTIAL_TYPE         EQUATORIAL          # NATIVE, PIXEL, EQUATORIAL,
                                       # GALACTIC,ECLIPTIC, or SUPERGALACTIC
PROJECTION_TYPE        ZEA             # Any WCS projection code or NONE
PROJECTION_ERR         0.01           # Maximum projection error (in output
                                       # pixels), or 0 for no approximation
CENTER_TYPE            MANUAL             # MANUAL, ALL or MOST
CENTER                 RACENT, DECENT # Coordinates of the image center
PIXELSCALE_TYPE        MEDIAN          # MANUAL,FIT,MIN,MAX or MEDIAN
IMAGE_SIZE             60000, 12000   # Image size (0 = AUTOMATIC)
 
#-------------------------------- Resampling ----------------------------------
 
RESAMPLE               N               # Resample input images (Y/N)?
RESAMPLE_DIR           .               # Directory path for resampled images
RESAMPLE_SUFFIX        .resamp.fits    # filename extension for resampled images
 
RESAMPLING_TYPE        LANCZOS3        # NEAREST,BILINEAR,LANCZOS2,LANCZOS3
#RESAMPLING_TYPE        BILINEAR        # NEAREST,BILINEAR,LANCZOS2,LANCZOS3
                                       # or LANCZOS4 (1 per axis)
#OVERSAMPLING           1               # Oversampling in each dimension
OVERSAMPLING           4               # Oversampling in each dimension
                                       # (0 = automatic)
INTERPOLATE            N               # Interpolate bad input pixels (Y/N)?
                                       # (all or for each image)
 
FSCALASTRO_TYPE        NONE            # NONE,FIXED, or VARIABLE
FSCALE_KEYWORD         FLXSCALE        # FITS keyword for the multiplicative
                                       # factor applied to each input image
FSCALE_DEFAULT         1.0             # Default FSCALE value if not in header
 
GAIN_KEYWORD           GAIN            # FITS keyword for effect. gain (e-/ADU)
GAIN_DEFAULT           0.0             # Default gain if no FITS keyword found
 
#--------------------------- Background subtraction ---------------------------
 
SUBTRACT_BACK          N               # Subtraction sky background (Y/N)?
                                       # (all or for each image)
 
BACK_TYPE              AUTO            # AUTO or MANUAL
                                       # (all or for each image)
BACK_DEFAULT           0.0             # Default background value in MANUAL
                                       # (all or for each image)
BACK_SIZE              128             # Background mesh size (pixels)
                                       # (all or for each image)
BACK_FILTERSIZE        3               # Background map filter range (meshes)
                                       # (all or for each image)
 
#------------------------------ Memory management -----------------------------
 
VMEM_DIR               .               # Directory path for swap files
VMEM_MAX               2047            # Maximum amount of virtual memory (MB)
#MEM_MAX                1024             # Maximum amount of usable RAM (MB)
COMBINE_BUFSIZE        1024              # RAM dedicated to co-addition(MB)
#VMEM_MAX               32768            # Maximum amount of virtual memory (MB)
MEM_MAX                32768             # Maximum amount of usable RAM (MB)
#COMBINE_BUFSIZE        32768              # RAM dedicated to co-addition(MB)
 
#------------------------------ Miscellaneous ---------------------------------
 
DELETE_TMPFILES        Y               # Delete temporary resampled FITS files
                                       # (Y/N)?
COPY_KEYWORDS          TELESCOP,MWAVER,MWADATE,BTYPE,BUNIT,BMAJ,BMIN,BPA,FREQ          # List of FITS keywords to propagate
                                       # from the input to the output headers
WRITE_FILEINFO         N               # Write information about each input
                                       # file in the output image header?
WRITE_XML              Y               # Write XML file (Y/N)?
XML_NAME               swarp.xml       # Filename for XML output
VERBOSE_TYPE           NORMAL          # QUIET,NORMAL or FULL
 
NTHREADS               0               # Number of simultaneous threads for
                                       # the SMP version of SWarp
                                       # 0 = automatic
