#!/bin/bash -l

set -x

pipeuser=PIPEUSER

base=BASEDIR
obslist=OBSLIST
readfile=READ

if [[ -z $readfile ]]
then
    write="--write"
fi

subchans=(0000 0001 0002 0003 MFS)
subchan=${subchans[$SLURM_ARRAY_TASK_ID]}

cd "${base}" || exit

obs=$(cat $obslist)

sublist="${obslist%.txt}_${subchan}.txt"

if [[ -e $sublist ]]
then
    rm "${sublist}"
fi

for file in ${obs}
do
    if [[ -e "${file}/${file}_deep-${subchan}-image-pb_warp.fits" ]]
    then
        echo "${file}/${file}_deep-${subchan}-image-pb_warp.fits" >> ${sublist}
    fi
done

polyfit_snapshots.py \
               --filelist "${sublist}" \
               --skymodel="${GXBASE}"/models/GGSM_sparse_unresolved.fits \
               $readfile $write --rescale --correctall --overwrite --plot

# Check that all files created so I can use the right exit code
exitcode=0
files=$(cat "${sublist}")
for file in ${files}
do
    if [[ ! -e ${file%.fits}_rescaled.fits ]]
    then
        echo "Failed to create ${file%.fits}_rescaled.fits"
        exitcode=1
    fi
done

exit $exitcode
